﻿.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}
.popover {
    max-width: 440px;
}
/* Tooltip */
.tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1;
}

.tooltip > .tooltip-inner {
    word-wrap: break-word;
    max-width: 600px;
    text-align: left;
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 10px;
    font-size: 14px;
}

.tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}

.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid green;
}

.tooltip.left > .tooltip-arrow {
    border-left: 5px solid green;
}

.tooltip.right > .tooltip-arrow {
    border-right: 5px solid green;
}

.alert {
    word-wrap: break-word;
}
.bg-info, bg-primary{
    padding: 3px;
}
.bg-primary a{
    color: orange;
}
