﻿<form id="ExampleForm">
    <fieldset>
        <div class="row form-group">
            <div class="col-sm-3">
                <label class="control-label colon" for="singleUri">Select single uri</label>
            </div>
            <div class="col-sm-2">
                <input class="form-control job-control" id="singleUri" name="singleUri" readonly="readonly" type="text" value="">
            </div>
            <div class="col-sm-1">
                <!-- A button for the ItemSelector to be included here -->
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary" data-style="zoom-out" id="submit" name="Submit">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
