﻿<span data-toggle="tooltip" title="Click to add using the ItemSelector">
    <a href="ItemSelectorPopover.htm" data-itemselector-for="singleUri" data-itemselector-height="500" data-toggle="popover"><span class="glyphicon glyphicon-plus"></span></a>
</span>
